Package: com.yaypixxo.squareswitcherx
Name: SquareSwitcherX
Depends: mobilesubstrate, preferenceloader
Version: 1.1.3
Architecture: iphoneos-arm
Description: Reduce corner radius of iPhone X switcher cards
Depiction: https://yaypixxo.com/depictions?p=com.yaypixxo.squareswitcherx
SileoDepiction: https://yaypixxo.com/sileo/com.yaypixxo.squareswitcherx
Maintainer: YaYPIXXO <viggo@lekdorf.com>
Author: YaYPIXXO <viggo@lekdorf.com>
Section: Tweaks
